{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance system</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    
    {% block css %}
    {% endblock css %}
    
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <!-- Load an icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js"></script>
</head>
<body>

    <section id="body-section">
        <section id="section-heading">
            <div class="heading-container">
                <div class="left">
                    <a href="{% url 'home' %}" class="logo"><img src="{% static '/images/logo.png' %}" alt=""></a>
                    <h2>Welcome.</h2>
                    <form action="" method="post">
                        <input type="search" name="" id="" placeholder="Search">
                        <input type="submit" value="search">
                    </form>
                </div>
                {% if user.is_authenticated %}
                    <div class="right">
                        <a href="" ><i class="fa-solid fa-bell"></i></a>
                        <img src="{{ user.image.url }}" alt="">
                        <h3>{{ user.username }}</h3>
                        <a href="{% url 'logout' %}" class="logout">logout</a>
                    </div>
                {% else %}
                <div class="right no-login">
                    <a href="{% url 'home' %}">Home</a>
                    <a href="{% url 'login' %}">Login</a>
                    <a href="{% url 'register' %}">Register</a>
                </div>
                {% endif %}
            </div>
    
        </section>
    
        <section class="section-2">
    
            <section class="side-nav">
                <div>
                    
                        
                        
                        
                        {% if user.is_authenticated %}
                            <ul>
                                <li><a href="{% url 'dashboard' %}"><i class="fas fa-home"></i></i>Dashboard</a></li>
                                <li><a href="{% url 'planning' %}"><i class="fa-regular fa-calendar"></i>My Planning</a></li>
                                <li><a href="{% url 'profile' user.username %}"><i class="fa fa-fw fa-user"></i>Profile and Settings</a></li>
                                <li><a href="{% url 'markAttendance' %}"><i class="fa-solid fa-people-roof fa"></i>Mark Attendance</a></li>
                                <li><a href="{% url 'myAttendance' user.username %}"><i class="fa-solid fa-people-roof"></i>My Attendance</a></li>
                                <li><a href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket"></i>logout</a></li>
                                

                            </ul>
                            {% else %}
                                <ul>
                                    <li><a href="{% url 'login' %}"><i class="fa-solid fa-right-from-bracket"></i>login</a></li>
                                    <li><a href="{% url 'dashboard' %}"><i class="fas fa-home"></i></i>Dashboard</a></li>
                                    <li><a href="{% url 'markAttendance' %}"><i class="fa-solid fa-people-roof"></i>Mark Attendance</a></li>
                                </ul>
                        {% endif %}
                   
        
                </div>
            </section>
    
            <section class="features">       
                {% block content %}
    
                {% endblock %}
            </section>
    
        </section>
    </section>


    <script src="{% static 'js/planning.js' %}"></script>
</body>
</html>