{% extends 'base.html' %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static '/css/profileUpdate.css' %}">    
{% endblock css %}


{% block content %}

    <form action="" method="POST" class="profile-container">
        {% csrf_token %}
        <div class="status">
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <center><h2 style="color: firebrick;">{{message}}</h2></center>
                    {% else %}
                        <center><h2 style="color: green;">{{message}}</h2></center>
                    {% endif %}
        
                {% endfor %}
        
            {% endif %}
        </div>
        <div>
            <!-- Profile Header Section -->
            <div class="profile-header">
                <h1>Edit Profile</h1>
                <div class="profile-info">
                    <div class="profile-name">
                        <h2>{{student}}</h2>
                        <p>{{student.course}}</p>
                        <p>Machakos</p>
                    </div>
                </div>
            </div>
    
            <!-- Personal Information Section -->
            <div class="personal-info">
                <h2 class="section-title">Personal Information</h2>
                <div class="info-group">
                    <div class="info-row">
                        <div class="info-label">First Name</div>
                        <div class="info-label">Last Name</div>
                    </div>
                    <div class="info-row">
                        <div class="info-value">{{student.first_name}}</div>
                        <div class="info-value">{{student.last_name}}</div>
                    </div>
                </div>


               
                    
    
                <div class="info-group">
                    <div class="info-row">
                        <div class="info-label">Email address</div>
                        <div class="info-label">Phone</div>
                    </div>
    
                    <div class="info-row">
                        <div class="info-value"><input type="email" name="email" id="" placeholder="{{student.email}}" class="input"></div>
                        <div class="info-value"><input type="number" name="phone" id="" placeholder="{{student.phone}}"></div>
                    </div>
                </div>
    
                <!-- Bio Section -->
                <!-- <div class="bio-section">
                    <div class="info-row">
                        <div class="info-label">Designation</div>
                    </div>
                    <div class="info-row">
                        <div class="info-value">Student</div>
                    </div>
                </div> -->
            </div>
    
            
    
            <!-- Address Section -->
            
            <div class="address-section">
                <h2 class="section-title">Course Details</h2>
                <div class="info-group">
                    <div class="info-row">
                        <div class="info-label">School</div>
                        <div class="info-label">Course</div>
                    </div>
                    <div class="info-row">
                        <div class="info-value">Engineering and Technology</div>
                        <div class="info-value">{{student.course}}</div>
                    </div>
                </div>
    
                <div class="info-group">
                    <div class="info-row">
                        <div class="info-label">Reg Number</div>
                        <div class="info-label">Year of Study</div>
                    </div>
                    <div class="info-row">
                        <div class="info-value">{{student.username}}</div>
                        <div class="info-value">4</div>
                    </div>
                </div>
            </div>
    
            <!-- Edit Button -->
            <button class="edit-button">save and upload</button>
        </div>
    
    </form>
{% endblock content %}
