{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>
    <section class="section-1">
        <div class="container-register">
            <h1>Register</h1>
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <center><h4 style="color: firebrick;">{{message}}</h4></center>
                    {% else %}
                        <center><h4 style="color: green;">{{message}}</h4></center>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <p>Welcome! Register with your details</p>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="names">
                    <label for="firstName">First Name</label>
                    <br>
                    <input type="text" name="firstName" id="" placeholder="John" required>

                    <label for="lastName">Last Name</label>
                    <br>
                    <input type="text" name="lastName" id="" placeholder="Doe" required>
                </div>

                <label for="registrationNumber">Registration number</label>
                <input type="text" name="registrationNumber" id="" placeholder="a12-3322-1990" required>
                <br>
                <label for="email">Email</label>
                <input type="email" name="email" id="" placeholder="abc@gmail.com" required>

                <div class="passwords">
                    <label for="username">Password:</label>
                    <br>
                    <input type="text" name="password" id="" placeholder="password" required>

                    <label for="password">Confirm Password:</label>
                    <br>
                    <input type="password" name="confirmPassword" id="" placeholder="confirm password" required>
                </div>
                <div class="register-btn">
                    <button type="submit">REGISTER</button>
                </div>
                
            </form>
            <div class="login-footer">
                <p>Already a User? <a href="{% url 'login' %}">Login</a></p>

                <a href="">Forgot Your password?</a>
            </div>
        </div>
    </section>
</body>
</html>